.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 70%;
    top: 50%;
    box-shadow: 0 0 3px 0;
    background: inherit;
    backdrop-filter: blur(100px);
    margin: 100px;
    border-radius: 25px;
  }
  
  
  
  
.background{

    background-image: url("./background/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.font_color_home{

    color: white;
}

.getStarted_placement{

    align-items: flex-end;
    justify-content: end;
    flex-direction: column;
}

.welcomeText_placement{

    align-items: center;
    justify-content: center;
    justify-content: space-evenly;

}


/* CSS */
.button-design {
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .55rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-38:hover {
  background-color: rgb(249,250,251);
}

.button-38:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-38:focus-visible {
  box-shadow: none;
}


  