.center{
    
    justify-content: center;
    
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 70%;
    top: 50%;
    margin: 100px;
  }


  .card_login {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 55%;
    width: 50%;
    top: 50%;
    box-shadow: 0 0 3px 0;
    background: transparent;
    backdrop-filter: blur(4px);
    margin: auto;
    margin-top: 150px;
    border-radius: 25px;
  }
  
  .card_signup {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 55%;
    width: 50%;
    top: 50%;
    box-shadow: 0 0 3px 0;
    background: transparent;
    backdrop-filter: blur(4px);
    margin: auto;
    margin-top: 150px;
    border-radius: 25px;
  }

  .card_addPhoto {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 55%;
    width: 50%;
    top: 50%;
    box-shadow: 0 0 3px 0;
    background: transparent;
    backdrop-filter: blur(4px);
    margin: auto;
    margin-top: 150px;
    border-radius: 25px;
  }
  
  
.background{

    background-image: url("./background/backgroundV69.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.font_color_home{

    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.getStarted_placement{

    align-items: flex-end;
    justify-content: end;
    flex-direction: column;
}

.welcomeText_placement{

    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    flex-direction: column;

}

.email_password_login_placement{

    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.email_password_name_signUp_placement{

    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.logo_placement{

  margin-left: 45%;
  margin-top: 15%;
  
}


/* CSS */
.button-design {
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .55rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-38:hover {
  background-color: rgb(249,250,251);
}

.button-38:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-38:focus-visible {
  box-shadow: none;
}


.input-design{

box-shadow: inset #abacaf 0 0 0 2px;
border: 0;
background: rgba(0, 0, 0, 0);
appearance: none;
width: 100%;
position: relative;
border-radius: 3px;
padding: 9px 12px;
line-height: 1.4;
color: rgb(0, 0, 0);
font-size: 16px;
font-weight: 400;
height: 40px;
transition: all .2s ease;
}

:hover{
    box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 2px;
}
:focus{
    background: #fff;
    outline: 0;
    box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 3px;
}


/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    color: white;
    background-color: #111827;
  }


  .dark-theme{
    background-color: rgb(55, 55, 55);
    
  
  }


.moon{

  margin-left: 4%;
  margin-bottom: 5%;
  
}

.top-right-features{

  justify-content: space-evenly;
  padding: 5%;
}

.stream-logo-placement{

 margin-left: 2%;
}


